.flex-container{
  display: flex;
  background-color: #66d1ff;
  justify-content:center;

  /* padding-top: 100px;
  margin:auto;
  height: auto;
  width: auto; */

}
.flex-container>div{
  /* background-color:white; */
  padding: 50px;
  justify-content:center;

}
.Education{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;

}
.Education>div{
  justify-content:center;
  padding: 50px;

}

.my_image{
  height: auto;
  width: auto;
  /* border: 1px;
  border-style: solid; */
  margin: auto;
  position: relative;

}
.image_myself{
  width:300px;
  height:400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25%;

}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #b3ffb3;
  border-radius: 25%;
}
.my_image:hover .overlay {
  opacity: 0.5;
}
.text_on_image {
  color: #4d4dff;
  font-size: 50px;
  position: absolute;
  font-family: 'Iceberg', cursive;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.collegeimg{
  height: 200px;
  width:500px;
  margin: auto;
  /* border: 1px;
  border-style: solid; */
  text-align: center;
  justify-content:center;
  position:relative;

}

.simage{
  height: 200px;
  width:500px;
  margin: auto;
  /* border: 1px;
  border-style: solid; */
  text-align: center;
  justify-content:center;
  position:relative;
}
.school_image{
  width:300px;
  height:200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25%;
}
.college_image{
  width:300px;
  height:200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25%;
}




.welcome_message{
  height: 200px;
  width:auto;
  margin: auto;
  /* border: 1px;
  border-style: solid; */
  text-align: center;
  justify-content:center;

}
.schooling,.higheredu{
  height: 200px;
  width:500px;
  margin: auto;
  /* border: 1px;
  border-style: solid; */
  text-align: center;
  justify-content:center;
}



#s1,#s2,#s3{
  height:100px;
  width:70px;
  margin-left: auto;
  margin-right: auto;

}
#s4,#s5{
  height:100px;
  width:120px;
  margin-left: auto;
  margin-right: auto;

}
#s6{
  height: 100px;
  width:70px;
  margin-left: auto;
  margin-right: auto;

}
.skill_table{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 50px;

}
.skill_table>td{
  padding:100px;
  margin:100px;
}
.skills_technologies{
  /* align-items:center;
  align-self: center;
  align-content: center; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: rgb(180,224,59);
 background: linear-gradient(90deg, rgba(180,224,59,1) 5%, rgba(233,233,176,1) 12%, rgba(223,106,39,1) 72%, rgba(255,0,250,1) 93%);

  /* border: 1px;
  border-style: solid; */
  width: auto;
}
.connect_with_me{
  margin-left: auto;
  margin-right: auto;
  display: block;

  /* border: 1px;
  border-style: solid; */
  width: auto;
  background: rgb(161,158,222);
 background: linear-gradient(90deg, rgba(161,158,222,1) 5%, rgba(233,233,176,1) 12%, rgba(122,139,223,1) 72%, rgba(0,212,255,1) 100%);
}
#c1,#c3{
  height: 30px;
  width: 50px;
}
#c2,#c4,#c5{
  height: 30px;
  width: 30px;
}
.connect_table{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;

}
.connect_table_table>td{
  padding:10px;
  margin:10px;
}
/* h2{
  text-align: center;
  font-family: 'Berkshire Swash', cursive;

} */
p{
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}
h1{
  font-family: 'Cabin Sketch', cursive;
}
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-github {
  background: #001a00;
  color: white;
}
a{
  font-family: 'Sirin Stencil', cursive;
  text-decoration: none;
}
h2 {
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
}
